#u-logo {
    width: 115px;
    height: 35px;
    background: url(../img/app.png) no-repeat;
    background-size: 150px auto;
    background-position: -15px -2px;
}
.button.button-positive.button-clear{color: #666;}
img{width: 100%;}
a{text-decoration: none;color:black;font-size: 12px;}
.tabs-striped.tabs-color-assertive .tab-item {
    color: #000;
}

.g-main {
    background: #ececec;
}

.u-color-262829 p {
    color: #262829;
}

.u-dbar .button {
    color: #666 !important;
}

.no-padding {
    padding: 0 !important;
}

.u-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #514331;
}

.u-btn {
    margin: 0 4px;
    border-color: #000;
    color: #000;
}

.box-margin{margin-bottom: 10px;}